<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>
<body>
    <div class="w3-light-grey">
        <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%"></div>
      </div>
      <br>
      <h2 class="text-center">Data added on the blockchain!</h2>
      <script>
        window.onload= ()=> {
       var elem = document.getElementById("myBar");
       var width = 1;
       var id = setInterval(frame, 10);
       function frame() {
         if (width >= 100) {
             document.getElementById("verif").innerHTML = "Verified!"
           clearInterval(id);
         } else {
           width++;
           elem.style.width = width + '%';
         }
       }
     }
     </script>
</body>
</html>