<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VERIFICATION A</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/admin.css">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Hospital A</a>
          </div>
          
        </div>
      </nav>
      <h4 class="text-center">Upload Medical Record</h4>
    <form action="/add-verif-post" method="POST">
        Enter Verification Code: <input type="text" name="verif">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="hidden" name="dashboard" value="A">

    </form>
</body>
</html>