<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN B</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Hospital B</a>
          </div>
          
        </div>
      </nav>
<h4 class="text-center">Add Patient's Medical Record </h4>
    <form action="/ipfs" method="POST" enctype="multipart/form-data">
        <input type="email" name="email" placeholder="EMAIL ID"><br><br>
        <input type="file" name="report"><br><br>
        <input type="hidden" name="dashboard" value="B">
        <button class="btn btn-success" type="submit">Save</button>
    </form>
    
</body>
</html>