<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospitals</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1 class="text-center">Find Your Medical Records on Blockchain</h1>
    
    <table>
        <tr>
            <td col-md-4>
                <a href="/hospitalA"><img src="images/h1.jpg" ><p>Hospital A, New Delhi</p></a>

            </td>
            <td col-md-4>
                <a href="/hospitalB"><img src="images/h2.jpg"><p>Hospital B, Mumbai</p></a>

            </td>
        </tr>
    </table>
</body>
</html>