<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/admin.css">
</head>
<body>
    <h2 class="text-center">Access your Medical Report(s)</h2>
    <form action="/fetch-verif-post" method="POST">
        <input type="hidden" name="dashboard" value="B">
        <input type="hidden" name="dashboard" value="<%=data %>">
        <input type="hidden" name="email" value="<%=email %>">
<input type="text" name="verif" placeholder="Enter verification code">
    </form>

</body>
</html>