<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAPPING</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-graph.min.js"></script>
</head>
<body>
<h1>MAPPING THE WORLD'S POPULATION</h1>
    <div class="container" id="container" style="height: 700px;">
        <button id="in">Zoom in</button>
        <button id="out">Zoom out</button>
        <button id="Fit">Fit to container</button></div>
  
    <script src="js/tree.js"></script>
</body>
</html>